nav{
    display: flex;
    background-color: rgb(38, 115, 134);
}

a{
    all:unset;
    padding: 1em;
    cursor: pointer;

}

a:hover{
    background-color: rgb(32, 189, 228);
    transition: all 0.5s;
}

a.active{
    background-color: rgb(32, 189, 228);
}