.container{
  width: 70%;
  margin: auto;
  justify-content: center;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.paginator {
  display: flex;
  justify-content: center !important;
}

.container h2{
  margin-bottom: 20px;
}

.grid-container{
  display: flex;
}

.movie-list-container{
    overflow-x: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;

}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.movie-types-text:hover{
  cursor: pointer;
  text-decoration: underline;
}
