.container{
  margin: 20px 50px;
  overflow-x: hidden;
}

.container h2{
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.grid-container{
  display: flex;
  flex-direction: row;
}

.movie-list-container{
    overflow-x: scroll;
}
