<div class="main-container">
<app-side-toolbar></app-side-toolbar>
  <div class="content-wrapper">
  <div class="content-container">

    <div class="main-title">
      <h1>{{mainTitle}}</h1>
    </div>

    <div class="container">
      <app-movie-item style="display: flex;" *ngFor="let movie of datasource" [movie]="movie">
      </app-movie-item>
    </div>

    <div [class.hidden]="hidden"  class="paginator">
      <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
        (page)="pageEvent = getServerData($event)">
      </mat-paginator>
    </div>
  </div>
</div>
</div>
