<form class="form-group" (ngSubmit)="navigateToSearchComponent()">
    <input class="form-control"
    #input="ngModel"
    id="input"
    type="search"
    name="input"
    placeholder="Type kewyword..."
    [(ngModel)]="keyword"
    required/>
    <div class="searchErrors" *ngIf="input.errors && (input.dirty || input.touched)">
        <div class="alert" *ngIf="input.errors.required">
            Required search keyword
        </div>
    </div>
    <button type="submit" >Search</button>
</form>

<button (click)="sortTopTen()">Top Ten Popular</button>
<button (click)="filterByGender()">Search by gender</button>

<section class="example-section">
  <h4>Genres</h4>
  <mat-checkbox color="primary" class="example-margin" value="horror" name="horror" id="horror" (change)="onCheckChange($event)" [(ngModel)]="checked">Horror</mat-checkbox>
</section>

<div class="movie-navigation">
    <span class="nav-link" routerLink="/movies/movies-extended/top_rated" routerLinkActive="active" mat-button>Top rated</span>
    <span class="nav-link">|</span>
    <span class="nav-link" routerLink="/movies/movies-extended/popular" routerLinkActive="active" mat-button>Popular</span>
    <span class="nav-link">|</span>
    <span class="nav-link" routerLink="/movies/movies-extended/now_playing" routerLinkActive="active" mat-button>Now playing</span>
    <span class="nav-link">|</span>
    <span class="nav-link" routerLink="/movies/{{latestId}}" routerLinkActive="active" mat-button>Latest movie</span>
</div>

<div class="main-title">
    <h1>{{mainTitle}}</h1>
</div>

<div class="container">
    <app-movie-item style="display: flex;" *ngFor="let movie of datasource" [movie]="movie">
    </app-movie-item>
</div>

<div class="paginator">
    <mat-paginator
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (page)="pageEvent = getServerData($event, input.keyword)">
    </mat-paginator>
</div>
