.container{
    display: grid;
    grid-template: repeat(5,1fr)/repeat(4,1fr);
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

.paginator {
    display: flex;
    justify-content: center !important;
}