.container{
    display: grid;
    grid-template-columns: repeat(5,185px);
    width: 80%;
    margin: auto;
    justify-content: center;
}

.paginator {
    display: flex;
    justify-content: center !important;
}
