 
  .hero-main {
    background-image: url("../../../../assets/images/imgonline-com-ua-Color-filter-oF278LhCFEP0.jpg");
    display: flex;
    background-color: rgb(97, 97, 187);
    height: 50%;
    min-height: 300px;
    height: calc(100vh / 2.5);
    max-height: 360px;    
    color: #fff;    
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .hero-text {
    margin-top: 120px;
    margin-left: 60px;
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }