.movie img{
  width: 185px;
}

.movie{
  margin: 6px;
  overflow: hidden;
  border-radius: 6px;
}

.movie:hover{
  opacity: 0.6;
  cursor: pointer;
}

.popularity-badge{
  position: absolute;
  top: 250px;
  right: 10px;
  color: beige;
  width: 30px;
  height: 30px;
  background: coral;
  border-radius: 50%;  
  padding: 8px;
  border: 2px solid rgb(109, 109, 167);
  text-align: center;
}

.percent{
  position: absolute;
  margin-top: 4px;
  margin-left: -12px;
}